@import "../../../styles/variables.scss";

.search-containers {
  display: flex;
  width: 100%;
  @media (max-width: 800px) {
    flex-direction: column;
  }
  .MuiInputBase-root {
    @media (max-width: 800px) {
      width: 330px!important;
      margin-left: -12px!important;
    }
  }
  .room-submit {
    margin: 1rem;
    margin-right: 0;
    height: fit-content;
    padding: 1.5rem 1rem;
    background-color: $primary-dark-blue-color;
    width: 11rem;
    @media (max-width: 800px) {
      width: 330px!important;
      margin: 1rem 0.8rem;
    }
  }
  .room-submit:hover {
    background-color: $primary-dark-blue-color;
  }
}
