@import '../../styles/variables.scss';

.info-check{
    margin-left: 2%!important;
    margin-bottom: 1%!important;
}
.info-label{
    margin-left: 2%!important;
}
.config-btn{
    background-color: $primary-dark-blue-color!important;
    margin: 1% 2%!important;
    display: block!important;
}