@import '../../styles/variables.scss';

.login-container{
    min-height: calc(100vh - 84px - 84px)!important;
    position: sticky!important;
    top: 0!important;
}
.heading-config{
    font-size: 2rem;
    text-align: center;
    margin: 0.5% 0;
}
.config-container{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 2%;
    .checkbox-from{
        margin-left: 1%;
    }
}
.text-label{
    margin-left: 2%;
    margin-top: 2%;
    display: flex;
    align-items: center;
}
.label{
    width: 10%;
}
.textfield-label{
    margin-left: 2%!important;
    margin-top: 0.2%!important;
    padding: 0.2rem!important;
}
.button-config{
    background-color: $primary-dark-blue-color!important;
    margin: 1% 2%!important;
}