@import "../../../styles/variables.scss";
.room-card-container {
  flex-basis: 80%;
  flex-grow: 1;
  margin-right: 2%;
  .room-header {
    display: flex;
    justify-content: space-between;
    margin: 2% 2% 0 1.2%;
  }
  .room-card {
    .room-card-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }
    display: flex;
  }
  .room-results {
    flex-basis: 83%;
  }
  .sort-heading {
    flex-basis: 25%;
    display: flex;
    .page-heading {
      padding-right: 7%;
      width: 13rem;
    }
  }
}
.pagination-btn {
  display: flex;
  justify-content: space-between;
  margin: 2%;
  .btn-page {
    background-color: $primary-dark-blue-color;
    width: 100px;
  }
}
.no-result-div {
  font-size: 3rem;
  text-align: center;
  padding: 5%;
}
