@import "../../styles/variables.scss";

.confirmation-header {
  display: flex;
  justify-content: space-between;
  margin: 1% 10%;
  .confirmation {
    font-size: 1.5rem;
  }
  .confirmation-btn {
    display: flex;
    width: 7%;
    .print-btn {
      padding-right: 20%;
      font-size: 1rem;
      color: $confirmation-btn-blue;
      margin-top: 10%;
      cursor: pointer;
    }
    .email-btn {
      font-size: 1rem;
      color: $confirmation-btn-blue;
      margin-top: 10%;
      cursor: pointer;
    }
  }
}
.confirmation-container {
  border: 2px solid $checkout-border-grey;
  margin: 1% 10%;
  margin-bottom: 9.2%;
  .confirmation-container-room-detail {
    display: flex;
    .room-type {
      width: 30rem;
      margin: 1% 3%;
      font-size: 1.5rem;
    }
    .guest-logo {
      margin-left: 2%;
      display: flex;
      align-items: center;
      width: 25rem;
    }
    .cancel-room {
      margin-left: 45%;
      margin-right: 3%;
      margin-top: 1.5%;
      color: $confirmation-btn-blue;
      cursor: pointer;
    }
  }
  .room-info {
    display: flex;
    .room-img {
      margin: 2%;
      width: 28%;
    }
    .booking-info {
      margin: 2%;
      flex-basis: 60%;
      .date-container {
        display: flex;
        .date-box {
          border: 2px solid $checkout-border-grey;
          text-align: center;
          padding: 1.5% 2%;
          border-radius: 5px;
          margin-right: 3%;
        }
      }
      .promotion-title{
        margin: 2% 0 1% 0;
        font-weight: bold;
      }
      .booking-total{
        display: flex;
        margin-top: 3%;
        justify-content: space-between;
      }
    }
  }
}
.booking-detail{
  display: flex;
  justify-content: space-between;
  margin: 0.5% 2%;
}
.typography{
  padding-left: 2%;
  font-weight: bold!important;
}
.accordion-containe {
  border-style: none !important;
  box-shadow: none !important;
  border-top: 1px solid $border-line-grey !important;
  margin: 0 2%!important;
}
.summary{
  flex-direction: row-reverse!important;
}
.accordion-container:last-child {
  border-bottom: none !important;
}
.MuiPaper-root:before {
  display: none;
}
.MuiButtonBase-root {
  border-bottom: 1px solid $black;
}
.cancel-input{
  margin: 4%  0.5%;
  padding: 2%;
}
.btn-otp{
  background-color: $primary-dark-blue-color!important;
  width: 150px!important;
  padding: 2% 1%!important;
  margin-left: 185px!important;
}
.btn-cancel{
  background-color: $primary-dark-blue-color!important;
  width: 150px!important;
  padding: 2% 0.5%!important;
  margin: 3%!important;
}
.error-otp{
  color: red;
}