@import '../../../../styles/variables.scss';
.accordion-container {
  background-color: #eff0f1 !important;
  border-style: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid $border-line-grey !important;
  padding-top: 3%!important;
}
.accordion-container:last-child {
  border-bottom: none !important;
}
.MuiPaper-root:before {
  display: none;
}
.MuiButtonBase-root {
  border-bottom: 1px solid $black;
}

