@import "../../styles/variables.scss";

.header-container {
  position: sticky;
  height: 84px;
  top: 0;
  width: 100%;
  z-index: 101;

  webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  background-color: $white-color;
  .header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin-left: 1%;
    IconButton{
      background-color: blue;
      .MuiSvgIcon-root{
        @media (min-width: 1000px) {
          display: none!important;
        }
      }
    }
    .header-title {
      display: flex;
      flex-basis: 50%;
      margin-left: 5rem;
      justify-content: flex-start;
      @media (max-width: 1000px) {
          margin-left: 2rem;
          flex-direction: column;
      }
      .img-container {
        width: 98px;
        min-width: 98px;
        align-self: center;
        @media (max-width: 600px) {
          width: fit-content;
          // height: 50px;
        }
        .header-logo {
          width: 100%;
          cursor: pointer;
          @media (max-width: 600px) {
            width: 80%;
            // height: 50px;
          }
        }
      }
      .title {
        text-align: center;
        align-self: center;
        margin-left: 1rem;
        font-size: 1.2rem;
        width: 217px;
        color: $primary-dark-blue-color;
        @media (max-width: 1000px) {
          font-size: 1rem;
          // width: 180px;
          margin-left: -18px;
          margin-top: -15px;
        }
      }
    }
    .convertor-div {
      display: flex;
      flex-basis: 50%;
      justify-content: space-around;
      margin-right: 3%;
      
      @media (max-width: 1000px) {
        display: none;
      }
      .admin {
        width: 6rem;
        color: $primary-dark-blue-color;
        align-self: center;
        font-size: 1.2rem;
        cursor: pointer;
      }
      .booking {
        width: 10rem;
        color: $primary-dark-blue-color;
        align-self: center;
        font-size: 1.2rem;
        cursor: pointer;
      }
      .language-container {
        display: flex;
        .header-select {
          align-self: center;
        }
      }
      .lang-icon {
        margin-top: 0.8rem;
      }
      .header-select {
        border: none;
        background-color: $white-color;
        align-self: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: "";
        padding: 0.5rem;
        font-size: 1rem;
        .options {
          font-size: 1rem;
        }
      }
      .login-btn {
        align-self: center;
        background-color: $primary-dark-blue-color !important;
        color: $white-color !important;
        padding: 1rem 5% !important;
        border-radius: 5px !important;
        font-size: 0.8rem !important;
        width: 7rem !important;
        height: fit-content !important;
      }
    }
  }
}

Menu{
  MenuItem{
    .admin {
      width: 6rem;
      color: $primary-dark-blue-color;
      align-self: center;
      font-size: 1.2rem;
      cursor: pointer;
    }
    .booking {
      color: $primary-dark-blue-color!important;
      width: 100%!important;
    }
    .header-select {
      border: none;
      background-color: $white-color;
      align-self: center;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: "";
      padding: 0.5rem;
      font-size: 1rem;
      .options {
        font-size: 1rem;
      }
    }
    .login-btn {
      align-self: center;
      background-color: $primary-dark-blue-color !important;
      color: $white-color !important;
      padding: 1rem 5% !important;
      border-radius: 5px !important;
      font-size: 0.8rem !important;
      width: 7rem !important;
      height: fit-content !important;
    }
  }
}
