@import "../../styles/variables.scss";

.header-container {
  position: sticky;
  height: 84px;
  top: 0;
  width: 100%;
  z-index: 101;

  webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  background-color: $white-color;
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1% 2%;
    margin-left: 1%;
    .header-title {
      display: flex;
      flex-basis: 50%;
      margin-left: 2.5rem;
      .img-container {
        .header-logo {
          width: 120px;
        }
      }
      .title {
        text-align: center;
        padding: 0.6rem;
        font-size: 1.3rem;
        color: $primary-dark-blue-color;
      }
    }
    .convertor-div {
      display: flex;
      flex-basis: 41%;
      margin-left: 14%;
      .booking {
        margin-right: 5rem;
        width: 10rem;
        color: $primary-dark-blue-color;
        font-size: 1.3rem;
        padding-top: 0.6rem;
      }
      .lang-icon {
        margin-top: 0.8rem;
      }
      .header-select {
        border: none;
        background-color: $white-color;
        margin-right: 5rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: "";
        padding: 0.5rem;
        font-size: 1rem;
        .options {
          font-size: 1rem;
        }
      }
      .login-btn {
        background-color: $primary-dark-blue-color;
        color: $white-color;
        padding: 0 2rem;
        border-radius: 5px;
        font-size: 0.8rem;
        width: 7rem;
      }
    }
  }
}
