@import "../../styles/variables.scss";

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 84px;
  .footer {
    background-color: $primary-dark-blue-color;
    display: flex;
    justify-content: space-between;
    .footer-logo {
      margin: 1% 2%;
      .footer-img {
        width: 120px;
        filter: brightness(0) invert(1);
      }
      .logo {
        color: white;
        font-size: 2rem;
      }
    }
    .footer-content {
      width: auto;
      padding: 1% 2%;
      .footer-text {
        color: $white-color;
        padding-bottom: 1%;
      }
    }
  }
}
