@import "../../styles/variables.scss";

.room-page-conatiner {
  min-height: calc(100vh - 168px);
}
.room-banner {
  height: 10vh;
}
.form-container {
  margin: 1% 4.5%;
  .body-container {
    display: flex;
    margin-left: 0rem;
    @media (max-width: 1000px) {
      flex-direction: column;
      width: 100%;
      margin: 1% 4.5%;
    }
  }
}
.stepper-container {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  .stepper {
    width: 30%;
    @media (max-width: 1000px) {
      width: 80%;
    }
    path {
      color: $primary-dark-blue-color;
    }
    .Mui-completed {
      color: $primary-dark-blue-color;
    }
    .Mui-active > .MuiSvgIcon-fontSizeMedium {
      color: $red-color;

      .MuiStepIcon-text,
      .MuiSvgIcon-root {
        display: none;
      }
    }
    .MuiStepIcon-text {
      display: none;
    }
  }
}

.MuiStepLabel-horizontal {
  & > .Mui-active {
    &::before {
      content: "✔";
      position: absolute;
      left: 47%;
      color: $white;
      background-color: inherit;
      width: 3rem;
      @media (max-width: 1000px) {
        left: 44%;
      }
    }
  }
}
